<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Example for logging into the build folder of your project -->
    <!-- for embedded tomcat -->
    <property name="LOG_HOME" value="./"/>

    <!-- for external tomcat -->
    <!--    <property name="LOG_HOME" value="/opt/tomcat/logs"/>-->
    <property name="LOG_FILE" value="${LOG_HOME}/logs/current"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Appender to log to file -->
    <appender name="flatfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily at 00:00:00 -->
            <fileNamePattern>${ROTATED_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 50MB, will keep at most 30 days of history or 500MB max -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="failedRequestLogger" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="flatfile"/>
    </root>
</configuration>
